<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>formpage</title>
</head>
<body>
<header>
    <h1>
        Jesper Bilforretning..
    </h1>
</header>
<form action="/index" method="post">
    <ul>
    <li><input type="text" name="døre">Antal Døre</input></li>
    <li><input type="text" name="farve">Farve</input></li>
    <li><input type="text" name="model">Model</input></li>
    <input type="submit" name="Bestil Bil..">
    </ul>
</form>

</body>
</html>